.header {
    text-align: center;
}

.tagline {
    text-align: center;
}

.about__container {
    display: flex;
    margin-top: 50px;
}

.about__info {
    text-align: left;
    padding-left: 15px;
}
