.band__photo {
    width: 400px;
    height: auto;
    cursor: pointer;
}

.band {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.band__name {
    cursor: pointer;
}

.bands {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.lineup__header {
    text-align: center;
}