.submitted__bands__header {
    text-align: center;
}

.approval__btn {
    background: none;
    width: 45px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.deny__btn {
    background: none;
    width: 45px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.submittedBand {
    background: rgba(.5,.5,.5,.2);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.band__info {
    padding: 15px;
}

.button__section {
    padding: 15px;
}