@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    margin: -5px;
    padding: 0px;
}

.home__navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: fixed;
    margin-top: -10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.home__navbar-bg {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: fixed;
    background: rgba(0,0,0,.8);
    box-shadow: black 0px 3px 10px;
    margin-top: -10px;
    height: 125px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.else__navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: fixed;
    background: rgba(0,0,0,.8);
    box-shadow: black 0px 3px 10px;
    margin-top: -10px;
    height: 125px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    color: white;
    margin-top: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
}


.navbar__logo {
    width: 95%;
    height: auto;
    cursor: pointer;
    margin-left: 20px;
}

.navbar__logout {
    margin-right: 50px;
}

.navLink__container {
    display: flex;
    justify-content: space-evenly;
}

.navbar__link {
    position: relative;
    padding: 5px 10px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .navbar__link:hover {
    transform: scale(1.2);
  }
  
  